<h2>Air Signs</h2>
<img src="/img_assets/air.png" alt="air element" />
  <ul>
    <%airSigns.forEach((sign) => { %>
      <li><%= sign %></li>
    <% }) %>
  </ul>
  <h3>Characteristics:</h3>
  <ul>
    <%traits.forEach((trait) => { %>
      <li><%= trait %></li>
    <% }) %>
  </ul>