<h2>Earth Signs</h2>
<img src="/img_assets/earth.png" alt="earth element" />
  <ul>
    <%earthSigns.forEach((sign) => { %>
      <li><%= sign %></li>
    <% }) %>
  </ul>
  <h3>Characteristics:</h3>
  <ul>
    <%traits.forEach((trait) => { %>
      <li><%= trait %></li>
    <% }) %>
  </ul>