<h2>Fire Signs</h2>
<img src="/img_assets/fire.png" alt="fire element" />
  <ul>
    <%fireSigns.forEach((sign) => { %>
      <li><%= sign %></li>
    <% }) %>
  </ul>
  <h3>More about each Sign:</h3>
  <ul>
    <li><a class="nav-link" href='/fire/aries'>Aries</a></li>
    <li><a class="nav-link" href='/fire/leo'>Leo</a></li>
    <li><a class="nav-link" href='/fire/sagittarius'>Sagittarius</a></li>
  </ul>
  <h3>Characteristics:</h3>
  <ul>
    <%traits.forEach((trait) => { %>
      <li><%= trait %></li>
    <% }) %>
  </ul>