<h2>Water Signs</h2>
<img src="/img_assets/water.png" alt="water element" />
  <ul>
    <%waterSigns.forEach((sign) => { %>
      <li><%= sign %></li>
    <% }) %>
  </ul>
  <h3>Characteristics:</h3>
  <ul>
    <%traits.forEach((trait) => { %>
      <li><%= trait %></li>
    <% }) %>
  </ul>