<h2>Water Signs</h2>
<img src="/img_assets/water.png" alt="water element" />
  <ul>
    <%waterSigns.forEach((sign) => { %>
      <li><%= sign %></li>
    <% }) %>
  </ul>
  <h3>More about each Sign:</h3>
  <ul>
    <li><a class="nav-link" href='/water/cancer'>cancer</a></li>
    <li><a class="nav-link" href='/water/scorpio'>scorpio</a></li>
    <li><a class="nav-link" href='/water/pisces'>pisces</a></li>
  </ul>
  <h3>Characteristics:</h3>
  <ul>
    <%traits.forEach((trait) => { %>
      <li><%= trait %></li>
    <% }) %>
  </ul>